<h1>Forecasts</h1>
<div class="position-relative w-50 mx-auto">
  <input
    type="text"
    placeholder="Search city"
    class="form-control"
    [(ngModel)]="searchField"
    (ngModelChange)="getResults()" />
  <div class="list-group position-absolute w-100">
    <div
      [routerLink]="['/', result.city]"
      style="cursor: pointer"
      class="list-group-item width-100"
      (click)="searchResults = []; searchField = ''"
      *ngFor="let result of searchResults">
      {{ result.city }}
    </div>
  </div>
</div>
<canvas
  baseChart
  class="chart"
  [data]="data"
  [options]="barChartOptions"
  [type]="'bar'">
</canvas>
<div class="d-flex">
  <div class="me-2 input-group">
    <label for="date" class="input-group-text">Start date</label>
    <input
      class="form-control"
      placeholder="yyyy-mm-dd"
      name="dpStart"
      ngbDatepicker
      #dpStart="ngbDatepicker"
      [(ngModel)]="dateStart" />
    <button
      class="btn btn-outline-secondary bi bi-calendar3"
      (click)="dpStart.toggle()"
      type="button"></button>
  </div>
  <div class="me-1 input-group">
    <label for="date" class="input-group-text">End date</label>
    <input
      class="form-control"
      placeholder="yyyy-mm-dd"
      name="dpEnd"
      ngbDatepicker
      #dpEnd="ngbDatepicker"
      [(ngModel)]="dateEnd" />
    <button
      class="btn btn-outline-secondary bi bi-calendar3"
      (click)="dpEnd.toggle()"
      type="button"></button>
  </div>
  <button
    style="flex: 0 0 auto"
    class="btn btn-primary"
    [routerLink]="[]"
    [queryParams]="{dateStart: dateStart, dateEnd: dateEnd}">
    Get data
  </button>
</div>
